@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    font-family: 'Gamja Flower', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: clamp(360px, 100vw, 1280px);
}


body {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}