@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gamja+Flower&display=swap');* {
    font-family: 'Gamja Flower', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
